
*{
    padding: 0;
    margin: 0;
}
body, html {
    margin: 0; 
    padding: 0; 
    height: 100%; 
    font-family: Arial, sans-serif;
 }
#map { 
    height: 100%; 
    width: 80%; 
    float: right; 
}
#sidebar {
    width: 20%; 
    height: 100%; 
    float: left;
    background: #030e4d; 
    padding: 15px; 
    box-sizing: border-box;
    border-right: 2px solid #ddd; 
    overflow-y: auto;
}
h2 { 
    margin-top: 0; 
}
input {
    width: 100%; 
    padding: 8px;
    margin-bottom: 10px;
    margin-top: 5px;
    border: 1px solid #ccc; 
    border-radius: 4px;
            
}
.place {
    padding: 8px; 
    margin-bottom: 5px;
    background: #fff; 
    border: 1px solid #ccc;
    border-radius: 4px; 
    cursor: pointer;
}
.place:hover { 
    background: #e0e0e0; 
}
